<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.3.custom.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.3.custom.css">
<link rel="stylesheet" type="text/css" href="css/form.css">
<link rel="stylesheet" type="text/css" href="css/ui-lightness/jquery-ui-1.10.3.custom.css">
<script type="text/javascript">
	$(document).ready(function(){
		$("#queryDiv").load("query.html");
		$("#bodyDiv").load("body.html");
	});	
</script>

<div id="formDiv">
	<div id="titleDiv">
		<h1>This is a title!</h1>
	</div>
	<div id="queryDiv"></div>
	<div id="bodyDiv"></div>
	<div id="interactionDiv"></div>
</div>