.containerTitle
{
	width: 100%;
	float: left;
	text-align: left;
	background-color: #eee;
	padding: 10px 0px;
	margin-top: 5px;
}

#faultResult
{
	height: 45%;
}

#faultTrend
{
	height: 45%;
	
}

#faultResultList
{
	height: 100%;
	width: 100%;
	float: left;
	overflow-y:auto;
	overflow-x:hidden;
}

#faultTrendList
{
	height: 75%;
	width: 100%;
	float: left;
	overflow-y:auto;
	overflow-x:hidden;
}

