body
{
	font-size: 20px;
}

#mainContainer
{
	margin: 0 auto;
	width: 1200px;
	padding: 0;
}

#mainDiv
{
	width: 100%;
}

#topDiv
{
	border-style: solid 1px #ccc;
	width: 100%;

	 font-family: "微软雅黑";
	 font-weight: bold;
     font-size: 40px;

     padding-top: 10px;
     padding-bottom: 10px;

    background-color: #eee;
}

#topContentDiv
{
	width: 100%;
	text-align: center;
}

#mainBodyDiv
{
	width: 100%;
	float: left;
	padding: 0;

	min-height: 600px;
	min-height:600px;
	height:100%;
    _height:600px;

	background-color:#fff;
	margin-bottom: 20px;
}

#mainHeadDiv
{
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: 1px;
	
}

#mainHeadDiv .tabs span
{
	color: #FFFFFF;
  font-family: 宋体;
  font-size: 16px;
  font-weight: bold;
}

#mainLeftDiv
{
	float: left;
	margin: 0;
	width: 25%;

	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	height: 100%;
	overflow-y:auto;
}

#categoryDiv
{
	padding-bottom: 5px;
	border-bottom: solid #ccc 1px;
}

#menuDiv
{
	height: 50%;
    overflow-y:auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

#mainLeftDiv li
{
	cursor: pointer;
}

#mainMiddleDiv
{
	float: left;
	margin: 0;
	padding: 0;
	width: 35%;
	margin-left: 8px;

	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	height: 100%;

}

#mainRightDiv
{
	float: left;
	width: 38%;
	margin-left: 8px;
	padding: 0;

	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	height: 100%;
}

#middleTitleDiv
{
	background-color: #DDDDDD;
    float: left;
    padding: 5px 10px;
    text-align: left;
    width: 95.5%;
}

#craneModelDiv
{
	text-align: center;
}

#rightTabDiv
{
	float: left;
	width: 100%;
}

#rightTab span
{
	width: 27.5%;
	text-align: center;

    color: #FFFFFF;
    font-family: 宋体;
    font-size: 16px;
    font-weight: bold;
}

.modelImg
{
	margin-top: 5px;
	width: 80%;
	height: 80%;
}

object
{
	margin-top: 5px;
	width: 80%;
	height: 80%;
}

#rmBodyDiv
{
	background-color: #ccc;
}

#rmLeftDiv
{
	float: left;
	width: 80%;
}

#rmRightDiv
{
	float: left;
	width: 20%;
}

#sortTilteDiv
{
	position: relative;
	width: 65px;
	left: 10px;
	top: -85px;
	padding: 1;
	background-color: #ffffff;
}

#operationTitleDiv
{
	position: relative;
	width: 65px;
	left: 10px;
	top: -120px;
	padding: 1;
	background-color: #ffffff;
}

#queryContainerDiv
{
	width: 100%;
	padding:0;
	float: left;
	min-height: 50px;
}

#queryTitleDiv
{
	position: relative;
	width: 65px;
	left: 10px;
	top: -50px;
	padding: 1px;
	background-color: #ffffff;
}

#queryDiv
{
	position: relative;
	left: 0;
	top: 0;
	min-height: 85px;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	
	margin-bottom: 10px;
	margin-right: 5px;
}

#queryDiv div
{
	float: left;
	display: inline;
	margin: 8px;
}

#operationDiv
{
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	margin-bottom: 5px;
	margin-left: 5px;

}

#operationDiv li
{
	list-style-type: none;
	text-align: left;
}

#operationDiv li button
{
	padding: 10px;
	margin-left: 25px;
	margin-top: 5px;
}

#sortContainerDiv
{
	float: left;
	width: 100%;
	padding: 0;
	min-height: 50px;
}

#sortDiv
{
	min-height: 40px;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 15px;
}

#sortDiv input
{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
}

#tableDiv
{
	float: left;
	width: 100%;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	min-height: 60%;
	margin-top: -10px;
}

#tableDiv li
{
	float: left;
	list-style-type: none;
	border-width: 1px;
	width: 155;
	text-align: center;
}

#tableHeaderDiv 
{
	float: left;
	margin: 0;
	padding: 0;
}

#tableHeaderDiv ul
{
	margin:0;
	padding:0;
}

#tableHeaderDiv li
{
	border-style: ridge;
	border-color: #ffffff;
	background-color: #ccc;
}

#tableBodyDiv 
{
	float: left;
	margin: 0;
	padding: 0;
}

#tableBodyDiv ul
{
	margin:0;
	padding:0;

	cursor: pointer; 
}


#tableBodyDiv li
{
	border-style: inset;
	border-color: 0;
}

.tableRowDiv
{
	float: left;
	width: 100%;
}

.tableRowDetailDiv
{
	float: left;
	width: 100%;
	display: none;
}

div .showFirst
{
	display: block;
}

.rowDiv
{
	float: left;
	width: 100%;
	padding: 0;

	font-size: 14px;
	color: #666;

}

.labelDiv
{
	float: left;
	width: 20%;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	margin-top:-1px;
	text-align: right;
	padding-right: 20px;

}

.valueDiv
{

	position: relative;
	padding-left: 24%;
	left: 0;
	right: 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	text-align: left;
	margin-top: -1px;
	border-left: none;
}

#rightMainDiv
{
	float: left;
	width: 100%;
	font-size: 16;

}

#menjiaTabDiv,#bijiaTabDiv,#qishengTabDiv,#bianfuTabDiv,#xuanzhuanTabDiv,#xingzouTabDiv
{
	height: 26;
	border-bottom: 1px solid #d2d2d2;
}

#mouseoverTab
{
	padding: 0;
	margin: 0;
}

#menjiaTabDiv span,#bijiaTabDiv span,#qishengTabDiv span,#bianfuTabDiv span,#xuanzhuanTabDiv span,#xingzouTabDiv span
{
	width: 120;
	font-size: 15;
}

#partImg
{
	margin-top: 10px;
	width: 75%;
	height: 75%;
}

#partImg1
{
	margin: 20px;
	width: 80%;
	height: 65%;
}

.structTitle
{
	margin-left: 5px;
	margin-top: 5px;
	padding: 5px;
	width: 95%;
	float: left;
	border-bottom: solid;
	border-style: dashed;
	border-width: 1px;
	border-color: #999;
}

.structContentTitle
{
	margin-left: 5px;
	margin-top: 35px;
	padding: 5px;
	width: 95%;
	float: left;
	border-bottom: solid;
	border-style: dashed;
	border-width: 1px;
	border-color: #999;
}
#tree
{
	margin-top: 12px;
}

.infoTab
{
	border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    line-height: 1.5;
    list-style: none outside none;
    text-align: center;
    width: 50%;
    background-color: #eee;
}

.infoTab:HOVER
{
    background-color: #9cf;
}

.currentInfoTab
{
	background-color: #69c;
}