
.infoTab
{
	border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    line-height: 1.5;
    list-style: none outside none;
    text-align: center;
    width: 50%;
    background-color: #eee;
}

.infoTab:HOVER
{
    background-color: #9cf;
}

.currentInfoTab
{
	background-color: #69c;
}