#getId
{
	width:100%;
}
.tabT
{
	width:100%;
	float:left;
	padding:0;
	margin:0px;
	margin-top: 10;
}
.tab,
{
	padding:0;
	margin:0;
	border:none;
}
.tab
{
	width: 100%;
}

.show,hidden
{
	float:left;
	width:95%;
	margin:0px;
	text-align:left;
	height:100%;
}
.hidden
{
	display:none;
}
.show
{
	display:block;
}
.con{
	padding:10px;
	width: 100%;
	float: left;
	height: 100%;
}