
.rowDiv
{
	width: 100%;
	float: left;
	color: black;
}

.infoName,.infoData
{
	float: left;
	border: 1px solid #aaa;
	text-align: center;
	word-break: break-all;
	margin-right: -1px;
	margin-top: -1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.firstInfoName,.firstInfoData
{
	float: left;
	border: 1px solid #aaa;
	text-align: center;
	word-break: break-all;
	margin-right: -1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.infoName
{
	width: 49%;
}

.infoData
{
	width: 49%;
}

.firstInfoName
{
	width: 49%;
}

.firstInfoData
{
	width: 49%;
}

.infoDiv
{
	width: 100%;
	float: left;
	padding: 5px;
}