.inforow
{
	float: left;
	width: 100%;
	margin: 8;
}

.inforow div
{
	float: left;
	margin-left: 10;
	margin-right: 10; 
}
.failureTitle
{
	width: 90%;
	float: left;
	padding: 5px;
	padding-left: 1.5em;
	margin-bottom: 1px;
	background-color: #aaa;
}
.failureTitle img
{
	margin-right:20px; 
	float: right;
	width: 21;
	height: 21;
}
.failureTable
{
	margin: 5px;
	padding-bottom: 20;
	float: left;
	width: 32%;
	background-color: #eee
}
.failureTable canvas
{
	width: 100%;
}
.detectLink
{
	float: right;
	margin-right: 1em;
	margin-top: 0.5em;
}