body
{
	width: 1920;
	height: 1080;
	font-size: 20;
}
#tabs
{
	float: left;
	width: 100%;
}
#tabs div
{
	float: left;
	width: 20%;
	background: #777;
	margin-right: 1px;
	padding: 2px;
	cursor: pointer;
}
#tabs div:HOVER
{
	background: #ddd;
}
#tabs .current
{
	background: #ddd;
}
#structureMonitor
{
	padding-left: 1.3em;
}
.monitorContainer
{
	float: left;
	width: 100%;
}
.monitorTitle
{
	margin: 1px;
	padding: 3em 1px 0 1px;
	float: left;
	width: 1em;
	height: 160;
	background-color: #888;
}
.failureTable
{
	margin: 1px;
	float: left;
	width: 19.5%;
	background-color: #eee
}
.failureTitle
{
	width: 90.5%;
	float: left;
	padding: 5px;
	padding-left: 1.5em;
	background-color: #aaa;
}
.failureTitle img
{
	margin-right:20px; 
	float: right;
	width: 21;
	height: 21;
}
.failureTable canvas
{
	width: 100%;
}
.detectLink
{
	display: none;
}