#baseinfoTitleDiv,#faultTreeTitleDiv,#diagnosisTitleDiv,#forecastTitleDiv
{
	width: 95.5%;
	float: left;
	text-align: left;
	background-color: #dddddd;
	padding: 10px 10px;
}
#baseinfoDiv,#faultTreeDiv,#diagnosisDiv,#forecastDiv
{
	width: 100%;
	overflow-y:auto;
	overflow-x:hidden;
}	
#modelDiv
{
	width: 100%;
	padding-top: 5px;
	height: 45%;
}
#baseinfoDiv
{
	height: 45%;
}
#faultTreeDiv,#diagnosisDiv,#forecastDiv
{
	height: 27%;
}