#titleContainerDiv
{
	float: left;
	width: 100%;
  background-color: #eee;
}
#titleDiv
{
	float: left;
	width: 80%;
	font-family: "微软雅黑";
	font-weight: bold;
  font-size: 40px;
	padding-top: 10px;
  padding-bottom: 10px;
	text-align: right;
}
#devNameDiv
{
	float: left;
	margin: 2.5em 0 0 2.5em;
	font-family: "楷体";
}