#maintainBodyDiv
{
	width: 100%;
	float: left;
}

#maintainLeftDiv
{
    float: left;
    height: 100%;
    margin: 0;
    width: 18%;
}

#maintainRightDiv
{
	border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 100%;
    margin: 0 0 0 8px;
    padding: 0;
    width: 81%;
}