input
{
	border-width: 2;
}
.label
{
	background-color: #eee;
}
.title
{
	width: 100%;
	background-color: #aaa; 
}
#toolBar
{
	float: right;
	width: 48%;
	background-color: #aaa; 
}
#toolBar,#headerNav
{
	margin: 0 0 1em 1em; 
}
#headerNav,#mainInfo,#detailInfo,#jobOrder,#worksheel,#worksheelInfo,#fault,#statHistory,#flowHistory
{
	float: left;
	width: 100%;
	margin-bottom: 1em;
}
#toolBar div,#headerNav div
{
	float: left;
	cursor: pointer;
	margin-right: 1em;
	text-decoration: underline;
}
#mainInfo .label,#mainInfo .inputDiv
{
	float: left;
	margin: 0.5em;
}
.infoContainer1
{
	float: left;
	width: 24.5%;
	height: 170;
}
.infoContainer2
{
	float: left;
	width: 49.5%;
	height: 170;
}
.infoContainer3
{
	float: left;
	width: 33.3%;
	height: 220;
}
.infoContainer1 .label,.infoContainer1 .inputDiv
{
	float: left;
	width: 100;
	height: 40;
	margin: 10;
	text-align: center;
}
.infoContainer1 input
{
	width: 100;
}
.infoContainer2 .label
{	
	float: left;
	width: 100;
	height: 40;
	margin: 10;
	text-align: center;
}
.infoContainer2 .inputDiv
{
	float: left;
	width: 300;
	height: 40;
	padding: 10;
}
.infoContainer2 input
{
	margin-right: 1em;
}
.infoContainer3 .label
{
	float: left;
	width: 150;
	height: 20;
	margin: 10;
	text-align: center;
}
.infoContainer3 .inputDiv
{
	float: left;
	width: 100;
	height: 20;
	padding: 10;
}
.infoContainer3 input
{
	width: 90;
}
.tableHeader,.tableRow
{
	float: left;
	width: 100%;
}
.tableHeader
{
	text-align: center;
}
.tableHeader div
{
	background-color: #eee;
}
.col0,.col1,.col2,.col3,.col4,.col5
{
	float: left;
	height: 30;
	margin: 5 10 0 10;
}
.col0,.col0 input
{
	width: 60;
}
.col1,.col1 input
{
	width: 100;
}
.col2,.col2 input
{
	width: 120;
}
.col3,.col3 input
{
	width: 140;
}
.col4,.col4 input
{
	width: 270;
}
.col5,.col5 input
{
	width: 600;
}
.insertBtn
{
	float: right;
	margin: 1em; 
}
#worksheel .infoTab
{
	width: 4em;
}
#faultEditBtn
{
	float: right;
	margin-right: 2em;
}
#faultEditBtn input
{
	padding: 3;
}